# NewMiniFS
NewMiniFS/.vs/*
NewMiniFS/TestResults/*

NewMiniFS/x64/*
NewMiniFS/Debug/*
NewMiniFS/Release/*

NewMiniFS/NewMiniFS/x64/*
NewMiniFS/NewMiniFS/Debug/*
NewMiniFS/NewMiniFS/Release/*

NewMiniFS/NewMiniFS.Core/x64/*
NewMiniFS/NewMiniFS.Core/Debug/*
NewMiniFS/NewMiniFS.Core/Release/*

NewMiniFS/NewMiniFSUnitTests/x64/*
NewMiniFS/NewMiniFSUnitTests/Debug/*
NewMiniFS/NewMiniFSUnitTests/Release/*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
